* {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
}

a, a:focus, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Lora', serif;
  font-weight: normal;
  letter-spacing: 0.5px;
  font-size: 48px;
  margin: 0;
  margin-top: 120px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.56px;
  line-height: 30px;
  max-width: 800px;
}

h3 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.25px;
  margin: 0 0 10px 0;
}

p {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.4px;
  margin: 0;
  line-height: 20px;
}

img {
  max-width: 100%;
}

.section {
  padding: 0 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 6px;
  text-align: center;
}

.card-small {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 6px;
  text-align: center;
  background-color: #DCDCDC;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 1s;
}

.tooltip-wrapper {
  bottom: -10px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.small-skill .tooltip .tooltiptext {
  z-index: 2;
}

.tooltip .python-tt {
  color: black;
  background-color: #b4efde;
}

.tooltip .r-tt {
  color: black;
  background-color: #8ab9e0;
}

.tooltip .sql-tt {
  color: black;
  background-color: #F2A7A5;
}

.tooltip .django-tt {
  color: black;
  background-color: #FEF69F;
}

.tooltip .flask-tt {
  color: black;
  background-color: #8ab9e0;
}

.tooltip .heroku-tt {
  color: black;
  background-color: #AF97F4;
}

.tooltip .github-tt {
  color: black;
  background-color: #b4efde;
}

.tooltip .git-tt {
  color: black;
  background-color: #F2A7A5;
}

.tooltip .keras-tt {
  color: black;
  background-color: #FEF69F;
}

.tooltip .tensorflow-tt {
  color: black;
  background-color: #8ab9e0;
}

.tooltip .bokeh-tt {
  color: black;
  background-color: #FEF69F;
}

.tooltip .js-tt {
  color: black;
  background-color: #AF97F4;
}

.tooltip .mongo-tt {
  color: black;
  background-color: #b4efde;
}

.tooltip .postgresql-tt {
  color: black;
  background-color: #AF97F4;
}

.tooltip .html-tt {
  color: black;
  background-color: #F2A7A5;
}

.tooltip .css-tt {
  color: black;
  background-color: #FEF69F;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.github {
  display: flex;
  justify-content: flex-end;
}

.github img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  position: relative;
}

.header .content {
  z-index: 1;
}

.blob {
  position: absolute;
}

.blob-pink {
  top: 200px;
  left: 915px;
}

.blob-blue {
  top: 290px;
  left: 110px;
}

.blob-yellow {
  top: 165px;
  left: 450px;
}

.blob-green {
  top: 110px;
  left: -20px;
}

.blob-purple {
  top: 50px;
  left: 700px;
}

.education {
  position: relative;
  min-height: 60vh;
  max-height: 800px;
}

.education img {
  position: absolute;
  z-index: -1;
  opacity: 0.25;
  top: -100px;
  left: -150px;
  width: 900px;
}

.degree {
  padding: 10px 0;
}

.skills.section {
  position: relative;
  min-height: 85vh;
  padding-bottom: 180px;
}

.skill img {
  width: 60px;
  height: 60px;
}

.skills h4 {
  padding: 30px 0 10px 50px;
}

.skill {
  display: inline-block;
  padding: 20px 40px 20px;
}

.small-skill {
  display: inline-block;
  padding: 10px 10px 30px 50px;
}

.small-skill img {
  height: 40px;
  width: 40px;
}

.projects {
  position: relative;
  padding-bottom: 80px;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.project .image {
  flex: 1 1 50%;
}

.project .content {
  flex: 1 1 50%;
  padding-right: 100px;
}

.thesis-link {
  transition: color 0.5s;
}

.thesis-link:hover {
  color: #F2A7A5;
}

.characters-link {
  transition: color 0.5s;
}

.characters-link:hover {
  color: #b4efde;
}

.thesis-image {
  width: 400px;
  box-shadow: 2px 4px 17px 0px rgba(0, 0, 0, 0.2);
}

.biomusic-link {
  transition: color 0.5s;
}

.biomusic-link:hover {
  color: #AF97F4;
}

.biomusic-image {
  box-shadow: 2px 4px 17px 0px rgba(0, 0, 0, 0.2);
}

.osm-link {
  transition: color 0.5s;
}

.osm-link:hover {
  color: #8ab9e0;
}

.twitter-link {
  transition: color 0.5s;
}

.twitter-link:hover {
  color: #b4efde;
}

.twitter-image {
  display: block;
  margin: auto;
  max-width: 300px;
}

.contact {
  margin-top: 300px;
  margin-bottom: 100px;
  background-color: #000000;
}

@media all and (max-width: 1000px) {
  .header {
    overflow: hidden;
  }
}

@media all and (max-width: 768px) {
  h1 {
    margin-top: 60px;
  }

  .blob-green {
    top: 60px;
    left: -10px;
  }

  .blob-blue {
    top: 300px;
    left: 250px;
  }

  .blob-yellow {
    top: 265px;
    left: 60px;
  }

  .blob-pink {
    top: 160px;
    left: 125px;
  }

  .blob-purple {
    top: 100px;
    left: 340px;
  }

  .project {
    flex-wrap: wrap;
    margin-bottom: 85px;
  }

  .project .image {
    flex: 1 1 100%;
    margin-bottom: 20px;
    order: 1;
  }

  .project .content {
    flex: 1 1 100%;
    order: 2;
    padding: 0;
  }

  .education img {
    left: -80px;
  }
}

.footer {
  background-color: #8ab9e0;
  color: white;
  text-align: center;
  padding: 50px 20px;
  display: flex;
}

.footer-heading {
  flex: 0 0 20%;
}

.footer-contacts {
  flex: 1 1 0;
  text-align: left;
}

.footer-heading-text {
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
}

.contact-a {
  text-decoration: underline;
}

.large-skill-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
}

.small-skill-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
}

@media screen and (max-width: 900px) {
  .large-skill-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .small-skill-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .large-skill-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .small-skill-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .section {
    padding: 0 15px;
  }

  .footer {
    display: block;
  }

  .footer-heading, .footer-contacts {
    flex: none;
  }
}
