* {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  padding-bottom: 50px;
  margin: 0;
}

a, a:focus, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Lora', serif;
  font-weight: normal;
  letter-spacing: 0.5px;
  font-size: 48px;
  margin: 0;
  margin-top: 120px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.56px;
  line-height: 30px;
  max-width: 800px;
}

h3 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.25px;
  margin: 0 0 10px 0;
}

p {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.4px;
  margin: 0;
  line-height: 20px;
}

img {
  max-width: 100%;
}

.section {
  padding: 0 20px;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -25px;
  left: -50%;
  opacity: 0.5;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.small-skill .tooltip .tooltiptext {
  left: -100%;
}

.small-skill .tooltip .tooltiptext.sk-tt{
  left: -30%;
}

.tooltip .python-tt {
  color: black;
  background-color: #b4efde;
}

.tooltip .r-tt {
  color: black;
  background-color: #8ab9e0;
}

.tooltip .sql-tt {
  color: black;
  background-color: #F2A7A5;
}

.tooltip .django-tt {
  color: black;
  background-color: #FEF69F;
}

.tooltip .flask-tt {
  color: black;
  background-color: #8ab9e0;
}

.tooltip .heroku-tt {
  color: black;
  background-color: #AF97F4;
}

.tooltip .github-tt {
  color: black;
  background-color: #F2A7A5;
}

.tooltip .git-tt {
  color: black;
  background-color: #b4efde;
}

.tooltip .sk-tt {
  color: black;
  background-color: #AF97F4;
}

.tooltip .keras-tt {
  color: black;
  background-color: #b4efde;
}

.tooltip .js-tt {
  color: black;
  background-color: #8ab9e0;
}

.tooltip .mongo-tt {
  color: black;
  background-color: #FEF69F;
}

.tooltip .postgresql-tt {
  color: black;
  background-color: #AF97F4;
}

.tooltip .html-tt {
  color: black;
  background-color: #F2A7A5;
}

.tooltip .css-tt {
  color: black;
  background-color: #b4efde;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.github {
  display: flex;
  justify-content: flex-end;
}

.github img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 80vh;
  max-height: 800px;
  position: relative;
}

.header .content {
  z-index: 1;
}

.blob {
  position: absolute;
}

.blob-pink {
  top: 200px;
  left: 915px;
}

.blob-blue {
  top: 260px;
  left: 110px;
}

.blob-yellow {
  top: 165px;
  left: 450px;
}

.blob-green {
  top: 110px;
  left: -20px;
}

.blob-purple {
  top: 50px;
  left: 700px;
}

.education {
  position: relative;
  height: 70vh;
  max-height: 800px;
}

.education img {
  position: absolute;
  z-index: -1;
  opacity: 0.25;
  top: -100px;
  left: -150px;
  width: 900px;
}

.degree {
  padding: 10px 0;
}

.skills {
  position: relative;
  height: 70vh;
  max-height: 800px;
}

.skill img {
  width: 60px;
  height: 60px;
}

.skills h4 {
  padding: 30px 0 10px 50px;
}

.skill {
  display: inline-block;
  padding: 10px 10px 20px 75px;
}

.small-skill {
  display: inline-block;
  padding: 10px 10px 0 50px;
}

.small-skill:first-of-type {
  padding: 10px 10px 0 150px;
}

.small-skill img {
  /* width: 40px; */
  height: 40px;
}

.projects {
  position: relative;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.project .image {
  flex: 1 1 50%;
}

.project .content {
  flex: 1 1 50%;
  padding-right: 100px;
}

.biomusic-link {
  transition: color 0.5s;
}

.biomusic-link:hover {
  color: #AF97F4;
}

.biomusic-image {
  box-shadow: 2px 4px 17px 0px rgba(0, 0, 0, 0.2);
}

.osm-link {
  transition: color 0.5s;
}

.osm-link:hover {
  color: #8ab9e0;
}

.twitter-link {
  transition: color 0.5s;
}

.twitter-link:hover {
  color: #b4efde;
}

.twitter-image {
  display: block;
  margin: auto;
  max-width: 300px;
}

.contact {
  margin-top: 300px;
  margin-bottom: 100px;
}

@media all and (max-width: 1100px) {
  .header {
    overflow-x: hidden;
  }
}

@media all and (max-width: 768px) {
  h1 {
    margin-top: 60px;
  }

  .blob-green {
    top: 60px;
    left: -10px;
  }

  .blob-blue {
    top: 330px;
    left: 250px;
  }

  .blob-yellow {
    top: 265px;
    left: 60px;
  }

  .blob-pink {
    top: 160px;
    left: 125px;
  }

  .blob-purple {
    top: 100px;
    left: 340px;
  }

  .project {
    flex-wrap: wrap;
    margin-bottom: 85px;
  }

  .project .image {
    flex: 1 1 100%;
    margin-bottom: 20px;
    order: 1;
  }

  .project .content {
    flex: 1 1 100%;
    order: 2;
    padding: 0;
  }

  .education img {
    left: -80px;
  }

  .small-skill:first-of-type {
    padding: 10px 10px 0 50px;
  }

  .skills {
    padding-bottom: 80px;
    height: auto;
  }
}
